* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  margin: 30px;
  text-align: center;
}

section {
  margin: auto;
}
.containercard {
  width: 390px;
  height: 500px;
  border-radius: 10px;
  background-image: url("../asset/fondo.jpg");
  padding: 10px;
  opacity: 0.9;
}

.pokemonCard {
  border: black solid 1px;
  width: 370px;
  height: 480px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px;
}
.description {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}

.description .name {
  margin-left: 3px;
}

.description .energynumber small {
  font-size: 12px;
  position: relative;
  left: 5px;
  font-weight: bold;
}

.description li img {
  width: 20px;
  height: 20px;
}

.pokemonCard figure {
  display: flex;
  justify-content: center;
}

.pokemonCard .imgPokemon {
  width: 380px;
  height: 250px;
  border: white solid 2px;
  border-radius: 10px;
}

.skill1,
.skill2,
.skill3 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.skill1 li img,
.skill2 li img,
.skill3 li img {
  width: 20px;
  height: 20px;
}
.skill1,
.skill2 {
  font-weight: bold;
}

.skill1 {
  margin: 20px;
}

.skill2,
.information {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.skill .information {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

.skill3__item3,
.skill3__item2,
.skill3__item1 {
  background: rgb(249, 248, 248);
  background: radial-gradient(
    circle,
    rgba(249, 248, 248, 1) 10%,
    rgba(191, 192, 193, 1) 87%
  );
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
}
.skill3 img {
  position: relative;
  top: 5px;
}
.skill3__item1 {
  padding-right: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.skill3__item2 {
  position: relative;
  right: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.skill3__item2::before {
  content: "|";
  font-size: 20px;
}
