* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 95vh;
  background-color: #070012;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.38'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: Arial, Helvetica, sans-serif;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 400px;
  height: 180px;
  margin: 45px auto;
  text-align: center;
}

.title img {
  height: 100%;
  width: 100%;
}

section {
  margin: auto;
}
.containercard {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  background-image: url("../asset/fondo.jpg");
  padding: 10px;
  opacity: 0.9;
  margin: 40px;
}
.containercard:hover {
  transform: scale(1.3);
  opacity: 1;
}

.pokemonCard {
  width: 330px;
  height: 480px;

  border-radius: 10px;
  box-shadow: rgb(222 220 207 / 57%) 2px 0px 12px 10px;
}
.card {
  width: 100%;
  height: 100%;
  padding: 0 10px 0;
  border-radius: 10px;
  box-shadow: inset rgb(137 137 139) 1px 1px 6px 0px;
}
.description {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  padding: 3px 0;
}

.level {
  display: flex;
  position: relative;
  right: 18px;
  align-items: center;
}
.level-cart {
  background: radial-gradient(
    circle,
    rgba(249, 248, 248, 1) 10%,
    rgba(191, 192, 193, 1) 87%
  );
  padding: 3px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: #555554;
}

.level .name {
  margin-left: 3px;
}

.energynumber {
  display: flex;
  align-items: center;
}
.description .energynumber small {
  font-size: 10px;
  margin: 3px;
  font-weight: 700;
  position: relative;
  left: 5px;
}

.energynumber p {
  position: relative;
  left: 5px;
}

.description li img {
  width: 25px;
  height: 25px;
  position: relative;
  left: 6px;
  bottom: 4px;
}

.pokemonCard figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white ridge 4px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pokemonCard .imgPokemon {
  object-fit: cover;
  width: 100%;
  height: 210px;
}

.pokemonCard figure figcaption {
  background: radial-gradient(
    circle,
    rgba(249, 248, 248, 1) 10%,
    rgba(191, 192, 193, 1) 87%
  );
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border-top: white ridge 4px;
}

.skill {
  margin-top: 30px;
}

.skill1,
.skill2,
.skill3 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.skill1 li img,
.skill2 li img,
.skill3 li img {
  width: 20px;
  height: 20px;
}

.skill li .rayo {
  width: 24px;
  height: 24px;
}

.skill1,
.skill2 {
  font-weight: bold;
}

.skill1 {
  margin: 20px 20px 30px 20px;
}

.skill2,
.information {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.skill2 li:nth-child(2) {
  margin-right: 70px;
}
.skill .information {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 600;
}
.skill3 {
  position: relative;
  right: 18px;
}
.skill3 img {
  margin: 0 5px 0 5px;
}

.skill3__item3,
.skill3__item2,
.skill3__item1 {
  background: rgb(249, 248, 248);
  background: radial-gradient(
    circle,
    rgba(249, 248, 248, 1) 10%,
    rgba(191, 192, 193, 1) 87%
  );
  font-size: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  height: 30px;
}

.skill3__item1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.skill3__item2 {
  position: relative;
  right: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 10px;
}
.skill3__item2::before {
  content: "| ";
  font-size: 20px;
  margin-right: 10px;
}
.skill3__item3 {
  position: relative;
  right: 10px;
}
.skill3__item3 img {
  margin: 0 0 0 5px;
}

.footer {
  width: 100vw;
  height: 5vh;
  background-color: var(--background-primary);
  position: absolute;
  bottom: 0;
  padding: 13px;
}
.footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.footer ul li {
  list-style: none;
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 400;
}
.social-media {
  display: flex;
  align-items: center;
}
.social-media a svg {
  width: 40px;
  height: 40px;
}
.social-media .linkedin {
  width: 45px;
  height: 45px;
}
